<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chris.cam" >

   <uses-permission android:name="android.permission.INTERNET"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" > </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" > </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/cam"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccueilActivity"
            android:label="@string/accueil">
        </activity>
        <activity
            android:name=".Bouton1Activity"
            android:label="@string/bouton">
        </activity>
        <activity
            android:name=".Bouton2Activity"
            android:label="@string/bouton2">
        </activity>
        <activity
            android:name=".Bouton3Activity"
            android:label="@string/bouton3">
        </activity>



    </application>

</manifest>
